<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271553644750-rsmdbm3klr670epqcnh8c0uqvdbpssoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271553644750-rsmdbm3klr670epqcnh8c0uqvdbpssoa</string>
	<key>API_KEY</key>
	<string>AIzaSyBBritgSHDjzispm6ffny1ROqA8qiC-ONU</string>
	<key>GCM_SENDER_ID</key>
	<string>271553644750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rolflocher.CollectionViewTestX</string>
	<key>PROJECT_ID</key>
	<string>collection-four</string>
	<key>STORAGE_BUCKET</key>
	<string>collection-four.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271553644750:ios:cc9c858f7033fba7</string>
	<key>DATABASE_URL</key>
	<string>https://collection-four.firebaseio.com</string>
</dict>
</plist>